@import '../../styles/build.css';

.pa-code {
  --pa-code-padding: 1rem;

  display: block;
  height: 100%;
  margin-bottom: 1rem;
  min-height: 5rem;
  position: relative;
  width: 100%;

  &__preview,
  &__editor,
  &__preview-block,
  &__editor-block {
    margin: 0;
    padding: 0;
  }

  &__preview-block {
    padding: var(--pa-code-padding) !important;
  }

  &__preview {
    position: relative;
    z-index: 2;

    &.is-editing * {
      color: transparent !important;
    }
  }

  &__editor {
    background-color: transparent;
    opacity: 0;
    top: var(--pa-code-padding);
    left: var(--pa-code-padding);
    position: absolute;
    z-index: 1;

    &.is-editing {
      opacity: 1;
      display: block;
      z-index: 3;
    }
  }

  &__actions {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    display: flex;
    z-index: 10;
  }

  &__action {
    display: flex;
    padding: 0.35rem;
    text-decoration: none;

    &--copy {
      cursor: pointer;
    }
  }

  &__icon {
    width: 0.75rem;
    margin-right: 0.25rem;
  }

  &__action--text &__icon {
    margin-right: 0;
  }
}
