@import '../../styles/build.css';

.pa-row {
  display: flex;
  flex-wrap: wrap;

  @each $breakpoint in var(--internal-breakpoints) {
    @each $value in var(--internal-flex-directions) {
      @mixin breakpoint-modifier $breakpoint, $value {
        flex-direction: $value;
      }
    }
  }
}
