node_modules/
packages/**/dist/
packages/**/lib/
packages/**/src/
packages/**/types/
packages/**/tsconfig.*
!packages/**/tsconfig.typings.json
*.log
storybook-static/
packages/webcomponents/custom-elements.json
**/stats.html
packages/svelte/.svelte-kit
packages/qwik/tsconfig.tsbuildinfo
.themes/
/.agents/skills/backlog-curator
.vscode/settings.json
/.agents/skills/senior-frontend
