@import '../../build.css';

.pa-avatar {
  --pa-avatar-size: 3rem;
  --pa-avatar-padding: 0.5rem;
  --pa-avatar-radius: 100%;
  --pa-avatar-initials-weight: var(--pa-font-weight-medium);

  @mixin shared-styles;

  &__container {
    border-radius: var(--pa-avatar-radius);
    box-sizing: border-box;
    font-weight: var(--pa-avatar-initials-weight);
    height: var(--pa-avatar-size);
    padding: var(--pa-avatar-padding);
    width: var(--pa-avatar-size);
  }

  @each $variant in primary, secondary, tertiary {
    &--$(variant) &__container {
      background-color: var(--pa-color-$(variant)-normal);
      color: var(--pa-color-basic-brightest);
    }
  }

  &__image {
    border-radius: var(--pa-avatar-radius);
    box-sizing: border-box;
    max-width: calc(100% + var(--pa-avatar-padding) * 2);
    max-height: calc(100% + var(--pa-avatar-padding) * 2);
  }
}
