@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  /* Border */
  --pa-border-radius-small: 255px 15px 225px 15px/15px 225px 15px 255px;
  --pa-border-width-small: 2px;

  /* Color Primary */
  --pa-color-primary-brightest: #dbdbdb;
  --pa-color-primary-brighter: #d1d1d1;
  --pa-color-primary-bright: #a8a8a8;
  --pa-color-primary-normal: #5c5c5c;
  --pa-color-primary-dark: #4e4d4d;
  --pa-color-primary-darker: #3e3e3e;
  --pa-color-primary-darkest: #2b2b2b;

  /* Color Secondary */
  --pa-color-secondary-brightest: #b7b7b7;
  --pa-color-secondary-brighter: #7c7c7c;
  --pa-color-secondary-bright: #615f5f;
  --pa-color-secondary-normal: #333333;
  --pa-color-secondary-dark: #282828;
  --pa-color-secondary-darker: #201f1f;
  --pa-color-secondary-darkest: #0e0d0d;

  /* Color Tertiary */
  --pa-color-tertiary-brightest: #d0daff;
  --pa-color-tertiary-brighter: #7c91e0;
  --pa-color-tertiary-bright: #607ad9;
  --pa-color-tertiary-normal: #3057e1;
  --pa-color-tertiary-dark: #2140af;
  --pa-color-tertiary-darker: #1b3184;
  --pa-color-tertiary-darkest: #172864;

  /* Font */
  --pa-font-family: 'Patrick Hand', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --pa-font-size-normal: 1.05rem;

  /* Shadow */
  --pa-shadow-normal: none;

  /* Stripe */
  --pa-stripe-angle: 135deg;
  --pa-stripe-size: 5.66px 5.66px;
}
