@import '../../styles/build.css';

.pa-avatar {
  display: inline-flex;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}
