.customization {
  --pa-grid-gutter-horizontal: 0.35rem;
  --pa-grid-gutter-vertical: 0.25rem;

  &__code {
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
  }

  &__label {
    font-weight: var(--pa-font-weight-medium);
    padding-top: 0.5rem;
  }
}
