/* Those variables are used in compilation time, you cannot modify in your project*/
/* TODO: Move to js config file */
/* TODO: Dont include in the bundle */

:root {
  --internal-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  --internal-columns-total: 12;
  --internal-breakpoints: xxs, xs, s, m, l, xl, xxl;
  --internal-flex-directions: row, column, row-reverse, column-reverse;
}
